* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    list-style: none;
}

#home {
    .logo {
        font-size: 3rem;
        font-weight: bold;
    } 

    ul {
        margin: 0 auto;

        li {
            font-size: 1.7rem;
        }
    }
}

#search {
    .container {
        display: flex;
        align-self: center;
        justify-content: center;
        gap: 2vh;

        .form-control {
            width: 50%;
        }
    }

    @media (min-width: 768px) and (max-width: 1024px){
        .container {
            .form-control {
                width: 70%;
            }
        }
    }

    @media (max-width: 767px) {
        .container {
            display: block;

            .form-control {
                width: 100%;
                margin-bottom: 2vh;
            }

            .btn-primary {
                width: 100%;
            }
        }
    }
}

#message {
    font-size: 2rem;
    font-weight: bold;
}

#details {
    flex-direction: column;
}
